{% extends '::base.html.twig' %}

{% set title = 'label_versions'|trans %}

{% block title %}{{ title }} - {{ project.name }}{% endblock %}

{% block body %}

<h1>{{ title }}</h1>

{% if is_granted('ROLE_VERSION_CREATE') %}
<a class="btn" href="{{ path('wits_version_new', {'project_id': project.id}) }}">{% trans %}label_create_version{% endtrans %}</a>
{% endif %}
{% if versions %}
    <ul id="versions">
        {% for version in versions %}
        <li><a href="{{ path('wits_version_show', {'project_id': project.id, 'version_id': version.id }) }}">{{ version.name }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}
