<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
        {% stylesheets filter='?yui_css'
            '@WitsBootstrapBundle/Resources/bootstrap/css/bootstrap.css'
            '@WitsBootstrapBundle/Resources/bootstrap/css/bootstrap-responsive.css'
        %}
        <link href="{{ asset_url }}" media="screen" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div class="container-fluid">
        <div class="navbar">
            <div class="navbar-inner">
                <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <span class="brand">WITS</span>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li>
                            <a href="{{ path('wits_project_dashboard')}}">{% trans %}Inicio{% endtrans %}</a>
                        </li>
                        {% if is_granted('ROLE_ISSUE_LIST') %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% trans %}Tickets{% endtrans %}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="">tickets</a>
                                </li>
                                {% if is_granted('ROLE_ISSUE_CREATE')%}
                                <li>
                                    <a href="">crear ticket</a>
                                </li>
                                {% endif %}
                            </ul>
                        </li>
                        {% endif %}
                        {% if is_granted('ROLE_VERSION_LIST') %}
                        <li><a href="#">{% trans %}Versiones{% endtrans %}</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_USERS_LIST') %}
                        <li><a href="#">{% trans %}Usuarios{% endtrans %}</a></li>
                        {% endif %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ app.user.username }}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% if is_granted('ROLE_USER_SELF_EDIT') %}
                                <li>
                                    <a href="">Editar</a>
                                </li>
                                {% endif %}
                                <li>
                                    <a href="{{ path('wits.user.security.logout') }}">Desconectar</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% block body %}{% endblock %}
    </div>
    {% block javascripts %}
    {% javascripts
            '@WitsBootstrapBundle/Resources/bootstrap/js/jquery-1.8.1.js'
            '@WitsBootstrapBundle/Resources/bootstrap/js/bootstrap.js'
            filter='?yui_js'
        %}
    <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
    {% endblock %}
    </body>
</html>
