{% extends '::base.html.twig' %}

{% set title = issue.name %}

{% block title %}{{ title }} - {{ project.name }}{% endblock %}

{% block body %}

    <div id="issue">
        <h1>{{ title }}</h1>

        <p class="breadcrumb">{{  issue.description|nl2br }}</p>


        {% include 'WitsIssueBundle:Comment/Partial:list.html.twig' %}
    </div>
{% endblock %}

{% block aside %}
    {% if is_granted('ROLE_ISSUE_EDIT') %}
        <a class="btn" href="{{ path('wits_issue_edit', {'project_id': project.id, 'issue_id': issue.id }) }}">{% trans %}label_edit{% endtrans %}</a>
    {% endif %}
    <br />
    {% if is_granted('ROLE_ISSUE_COMMENT') %}
        <a class="btn btn-primary" href="{{ path('wits_comment_create', {'project_id': project.id, 'issue_id': issue.id }) }}">{% trans %}label_comment{% endtrans %}</a>
    {% endif %}
    {% if issue.creator %}
        <h4>{% trans %}label_issue_creator{% endtrans %}</h4>
        <img src="{{ gravatar(issue.creator.email, 30) }}" alt="{{ issue.creator.fullname }}"/>
        <span>{{  issue.creator }}</span>
    {%  endif  %}
    {% if issue.assignee %}
        <h4>{% trans %}label_issue_assignee{% endtrans %}</h4>
        <img src="{{ gravatar(issue.assignee.email, 30) }}" alt="{{ issue.assignee.fullname }}"/>
        <span>{{  issue.assignee }}</span>
    {%  endif  %}
    <h4>{%  trans %}label_issue_status{%  endtrans  %}</h4>
    <span>{{  issue.statusName|trans }}</span>
    <br />    
{% endblock %}
