{% extends '::base.html.twig' %}

{% block body %}

<h1>{{ issue.name }}</h1>

<p>{{  issue.description }}</p>

{% if is_granted('ROLE_ISSUE_EDIT') %}
<a class="btn" href="{{ path('wits_issue_edit', {'project_id': project.id, 'issue_id': issue.id }) }}">Editar</a>
{% endif %}
{% if is_granted('ROLE_ISSUE_COMMENT') %}
<a class="btn btn-primary" href="{{ path('wits_comment_create', {'project_id': project.id, 'issue_id': issue.id }) }}">Comentar</a>
{% endif %}



{% if comments %}
<ul id="comments">
    {% for comment in comments %}
    <li>{{ comment.comment }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
