{% extends '::base.html.twig' %}

{% set title = project.name %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<h1>
{{ title }}
</h1>

{% include 'WitsIssueBundle:Issue/Partial:issues_by_type.html.twig' %}

{% include 'WitsIssueBundle:Issue/Partial:issues_list.html.twig' %}

{% endblock %}
{% block aside %}
    {% if is_granted('ROLE_ISSUE_CREATE') %}
        <a class="btn btn-success" href="{{ path('wits_issue_new', {'project_id': project.id}) }}">{% trans %}label_create_issue{% endtrans %}</a>
    {% endif %}
    <br />
    {% if is_granted('ROLE_VERSION_CREATE') %}
        <a class="btn btn-info" href="{{ path('wits_version_new', {'project_id': project.id}) }}">{% trans %}label_create_version{% endtrans %}</a>
    {% endif %}
    {% if is_granted('ROLE_VERSION_LIST') %}
        {% if versions %}
            <h4>{{ 'label_versions'|trans }}</h4>
            <ul id="versions">
                {% for version in versions %}
                    {% if is_granted('ROLE_VERSION_EDIT') %}
                        {% set version_path = 'wits_version_edit' %}
                    {% else %}
                        {% set version_path = 'wits_version_show' %}
                    {% endif %}
                    <li><a href="{{ path(version_path, {'project_id': project.id, 'version_id': version.id}) }}">{{ version.name}}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}
