{% extends '::base.html.twig'%}

{% set title = 'label_users'|trans %}
{% block title %}{{ title }}{%  endblock %}

{% block body %}
<h1>{{ title }}</h1>

<a class="btn" href="{{ path('wits_users_new', {'project_id': project_id}) }}">{% trans %}label_create_user{% endtrans %}</a>
{% if (users) %}
<ul id="users">
    {% for user in users %}
    <li><a href="{{ path('wits_users_edit', {'user_id': user.id, 'project_id': project_id}) }}">{{ user.username }}</a></li>
    {% endfor %}
</ul>

{% endif %}

{% endblock %}
